#copyright {
    font-size: 0.6rem;
}

#remarks {
    font-size: 0.8rem;
    color: inherit;
}

body {
    height: 100%;
    background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
}

ul {
    list-style-type: square;
    padding-inline-start: 2rem;
    margin: 0;
}

.rounded-pill{
    border-radius: 50rem;
}

::marker{
    color: #dc3545!important;
}

.overflow-scroll {
    overflow: scroll;
}

/* Omikuji*/
.omikuji {
    width: 280px;
    height: auto;
    border: thick double #ff0000;
    outline: 0.2rem solid #ff0000;
}

.vh100 {
    height: 100vh!important;
}

.yuji-syuku{
    font-family: 'Yuji Syuku', serif;
}

.illust {
    width: 260px;
}

.fortune {
    font-size: 5rem;
}

.line-red {
    border-top: 2px solid #ff0000;
    width: 260px;
}

/* Effect */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
